/* style.css */

body{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
}

.jumbotron {
    margin-bottom: 0px;
}
.header{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
}
input {
    margin-right: 10px;
    margin-left: 10px;
}
#search {
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #e9ecef;
}
.response {
    background-image: url(../images/full-bloom.png);
}
.my-events{
    font-family: 'Gloria Hallelujah', cursive;
}
.events-title {
    padding-bottom: 0;
}
.container {
    width: 960px;
    margin: 0 auto;
}



.eventContainer{
    background-color: lightskyblue;
    height:50px;
    width: 100%;
}
.title{
    border: 1px solid #000000;
 
    vertical-align: middle;
    text-align: center;
}